<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Books Search</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>

</head>

<body>

    <div class="container my-4" id="app">

        <h2>Google Books Search</h2>
        <div class="form-text w-100 mx-2">Search for books by keyword...</div>
        <form @submit.prevent="searchBooks">
            <div class="d-flex">

                <input class="flex-fill form-control" type="text" name="search" id="search"
                    placeholder="Search for books by keyword..." v-model="keyword">
                <button class="btn btn-primary mx-2" type="submit">Search</button>
                <button class="btn btn-secondary" >Clear</button>

            </div>
            <div v-if="error" class="invalid-feedback w-100 d-block">
                {{error}}
            </div>
            <img class="m-2" width="100px" src="https://books.google.com/googlebooks/images/poweredby.png" alt=""
                srcset="">
        </form>
        <div id="loading" v-if="loading">
            <div class="w-100 d-flex justify-center">
                <div class="spinner-border text-primary mx-auto my-5" role="status" style="width: 4rem; height: 4rem;">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <div v-if="result" class="d-flex flex-wrap">

            <div class="row">Found {{result.items.length }} books. </div>
            <div class="row">
                <book v-for="(b, index) in result.items" :key="b.id" :book="b"></book>
            </div>
        </div>


    </div>

    <script src="./main.js"></script>
    <script src="./components/book.js"></script>
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>

</html>